<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HandSightOnBodyInteractionGPU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HandSightOnBodyInteractionRealTime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <HandSightOnBodyInteractionGPU.Properties.Settings>
            <setting name="StartupForm" serializeAs="String">
                <value>CameraViewer</value>
            </setting>
            <setting name="CountdownTimer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CameraBrightness" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PredictionSmoothing" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CoarseOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SingleIMU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeGesturesInProfile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSoundEffects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSpeechOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableApplicationDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixedApplicationResponses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GestureMode" serializeAs="String">
                <value />
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TrainingLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SettingsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TrainingSize" serializeAs="String">
                <value>973, 687</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>968, 717</value>
            </setting>
            <setting name="HoverTimeThreshold" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TrainingVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </HandSightOnBodyInteractionGPU.Properties.Settings>
        <HandSightOnBodyInteractionRealTime.Properties.Settings>
            <setting name="StartupForm" serializeAs="String">
                <value>CameraViewer</value>
            </setting>
            <setting name="CountdownTimer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CameraBrightness" serializeAs="String">
                <value>10</value>
            </setting>
        </HandSightOnBodyInteractionRealTime.Properties.Settings>
    </userSettings>
</configuration>
