<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TouchCamLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TouchCamLibrary.Properties.Settings>
            <setting name="MinMag1X" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="MinMag1Y" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="MinMag1Z" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="MaxMag1X" serializeAs="String">
                <value>-100000</value>
            </setting>
            <setting name="MaxMag1Y" serializeAs="String">
                <value>-100000</value>
            </setting>
            <setting name="MaxMag1Z" serializeAs="String">
                <value>-100000</value>
            </setting>
            <setting name="MinMag2X" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="MinMag2Y" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="MinMag2Z" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="MaxMag2X" serializeAs="String">
                <value>-100000</value>
            </setting>
            <setting name="MaxMag2Y" serializeAs="String">
                <value>-100000</value>
            </setting>
            <setting name="MaxMag2Z" serializeAs="String">
                <value>-100000</value>
            </setting>
        </TouchCamLibrary.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
